@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.three-dots-list {
  @apply px-6 py-2 bg-gray-200 hover:bg-gray-400 hover:text-white transition-all;
}
.dot {
  @apply block h-1 w-1 mb-1 bg-black rounded-full;
}
.absolute-center {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}
.label {
  @apply font-medium mr-2;
}
.backdrop {
  @apply cursor-auto h-screen w-screen fixed top-0 left-0 bg-backDrop;
}
